body {
    background-color: #fbf0df;
    font-family: "Lora", sans-serif;
    color: #333333;
    margin: 2vh 2vw 0vh 1vw;
}

.biggerandbolder {
    font-size: 2vh;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.greenbackground {
    background-color: #B5C58B;
}

.lightbackground {
    background-color: #fbf0df;
}

.greenfont {
    color: #384B31;
}

.darkgreenbackground {
    background-color: #384B31;
}

.roundedcorners {
    border-top-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

/* CSS Voor Navbar */
.navbar {
    background-color: #B5C58B;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border-top-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

.navbar-brand {
    color: #384B31;
}

.navbar-brand>img {
    height: 4vh;
    border-top-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

.navbar-collapse>ul li a {
    color: #384B31;
}

/* Change colors (or not) when hovering over non-active menu items */
.navbar-collapse>ul li a:hover {
    color: #fbf0df;
}

.navbar-brand:hover {
    color: #384B31;
}

/* CSS voor Footer */
.footer-container {
    border-top: 1px solid #384B31;
    margin-bottom: 1vh;
}

.footer {
    color: #333333;
}

.footer-align-right {
    text-align: end;
}

.footer-align-center {
    text-align: center;
}

.footer-link {
    color: #333333
}

/* CSS voor Index.html */
.index-img {
    border-top-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

/* CSS voor hobbys.html */
.carousel {
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
}

.grid-bio-table {
    display: grid;
    grid-template-columns: auto auto auto;
}

.container-bio>h2 {
    margin-left: 3vh;
    margin-right: 3vh;
    background-color: #384B31;
    border-top-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    padding: 0.5vh 1vw 0.5vh 8vh;
    color: #fbf0df;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.container-bio>p {
    margin-left: 6vh;
    margin-right: 6vh;
}

.container-bio>img {
    margin-left: 6vh;
    display: block;
    margin: auto;
}

table {
    border-collapse: collapse;
    margin-left: 6vh;
}

td,
th {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #B5C58B;
}

tr:hover {
    background-color: #384B31;
    color: #fbf0df;
}

th {
    font-family: "Montserrat", sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #384B31;
    color: #fbf0df;
}

caption {
    caption-side: bottom;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.th-topleft {
    font-family: "Montserrat", sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #384B31;
    color: #fbf0df;
    border-top-left-radius: 2vh;
}

.td-bottomright:hover {
    border-bottom-right-radius: 2vh;
}


/* CSS voor Contact.html */
textarea {
    width: 100%;
    box-sizing: border-box;
    min-height: 100px;
}

form {
    border: 2px solid #384B31;
    padding: 1vh;
    border-top-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
}


/* CSS voor ervaring.html */
.accordion-button:not(.collapsed) {
    background-color: #384B31;
    color: #fbf0df;
}

.accordion-button:focus {
    background-color: #384B31;
    color: #fbf0df;
    box-shadow: 0 0 0 0;
}

.cv-h2 {
    font-family: "Montserrat", sans-serif;
    border-top: 4px solid #384B31;
    margin: 2vh 10vh 1vh 10vh;
    padding-top: 1vh;
    border-top-right-radius: 2vh;
    border-top-left-radius: 2vh;
}